<!DOCTYPE html>
<html>
<head>
    <title>Bulk Import Tax Records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Bulk Import Tax Records</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file">
            <button type="submit">Import</button>
        </form>
    </div>
</body>
</html>